<html>
<head>
    <title>404</title>
    <link rel="icon" href="./img/weather.png">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    
</head>
<body>
    {{!-- // Calling the header partial in the partials folder --}}
     <div class="main-content">
     {{>header}} 
     <p>{{>404page}}</p>
     </div>
     {{>footer}}
</body>
</html>