<html>
<head>
    <title>About</title>
    <link rel="icon" href="./img/weather.png">
    <link rel="stylesheet" type="text/css" href="./css/styles.css">
    
</head>
<body>
   <div class="main-content">
    {{!-- Calling the header partial in the partials folder --}}
     {{>header}} 
    
     <img class="portrait" src="./img/mypicjpg.jpg">
     </div>
     {{>footer}}
</body>
</html>