<html>
<head>
    <title>Help</title>
    <link rel="icon" href="./img/weather.png">
    <link rel="stylesheet" type="text/css" href="./css/styles.css">
  
</head>
<body>
    <div class="main-content">
    {{!-- Calling the header partial in the partials folder --}}
     {{>header}} 
    </div>
    {{!-- Calling the footer partial --}}
     {{>footer}} 
</body>
</html>